.App {
  text-align: center;
    font-family: Monospaced, sans-serif;
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    flex: 0 1 40px;
    background-color: lightblue;
    border-top-style: solid;
    border-top-color: paleturquoise;
}

.navWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;
    align-items: stretch;
}

#sidebar {
    min-height: 100%;
    min-width: 300px;
    background-color: cornflowerblue;
    border-right-style: solid;
}

.sidebar-header {
    padding: 20px;
}

#sidebar ul li {
    padding: 10px;
    font-size: 1.3em;
    font-weight: bolder;
    display: block;

}

p {
    text-align: center;
    width: 75%;
    margin: auto;
}

#textBox {
    margin-top: 20px;
}